name: xray_knife_android
description: A GUI wrapper for Xray-Knife tool.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # پکیج‌های مورد نیاز
  webview_flutter: ^4.7.0
  path_provider: ^2.1.2
  dio: ^5.4.1
  # نکته مهم: نسخه آرشیو را روی 3.6.1 قفل می‌کنیم تا متد decodeBuffer کار کند
  archive: 3.6.1
  package_info_plus: ^5.0.1
  http: ^1.2.0
  permission_handler: ^11.3.0
  # این پکیج جا افتاده بود که الان اضافه شد
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/xray-knife
